body{
    bottom: 0;
    left: 0;
    background-image: url(images/services-page-title-bg.jpg);
    background-repeat: no-repeat;
    backdrop-filter: brightness(33%);
    font-family:cursive;
    height: 100vh;
    width: auto;
   background-size: cover;
}
nav{
    background-color: rgb(0,0,0,0.5);

}
.btn{
    border-radius: 10px;
    box-shadow: 0px 0 18px rgb(54, 218, 230);

}
p{
    font-size: 2em;

}

@media (max-width:1000px) {
    p{
        font-size:larger;
    }
 }

.wel{
    font-weight: bold;
}
.card{
    box-shadow: 0px 0 18px rgba(0, 0, 0, 1);
    bottom: 0;
    top: 0;
    background-color:rgba(243, 243, 243, 0.232) ;
    border: none;
    height:80vh ;
    border-radius: 505px 100px;

}
.sign {
    top: 50%;
    left: 50%;
    transform: translateY(100%);
    font-style:italic;
    font-weight: lighter;
    font-size: 1em;
}